.ab {
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 2px 3px grey;
    background: linear-gradient(to right, rgba(7, 242, 215, 0.608), rgba(11, 108, 234, 0.608));
    margin-top: 0;
    padding-top: 10px;
}

.about_list {
    list-style-type: circle;
    display: flex;
    flex-direction: column;
}

.about_list a {
    text-decoration: none;
    font-weight: bold;
}

.about_list a:hover {
    color: #8a4baf;
}
  
.main_content h2 {
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 26px;
}
  
.main_content p {
    margin-left: 20px;
    font-size: 14px;
}